In [17]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [18]:
import mysql.connector as conn

In [19]:
mydb = conn.connect(host = 'localhost', user = 'root', password = 'chanakya')

In [20]:
mydb

In [21]:
cursor = mydb.cursor()

In [22]:
cursor.execute('show databases')

In [23]:
cursor.fetchall()

[('cardataset',),
 ('information_schema',),
 ('mysql',),
 ('mysqlassignment',),
 ('performance_schema',),
 ('sakila',),
 ('saptaksubhra',),
 ('sys',),
 ('world',)]

In [24]:
cursor.execute('use mysqlassignment')

In [25]:
cursor.execute('show tables')

In [26]:
cursor.fetchall()

[('worker',)]

In [27]:
cursor.execute('select * from mysqlassignment.Worker')
cursor.fetchall()

[(1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR')]

In [29]:
# Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

cursor.execute('select * from Worker where FIRST_NAME not in ("Vipul", "satish")')
cursor.fetchall()

[(1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR')]

In [30]:
# Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

cursor.execute('select * from Worker where FIRST_NAME like "_____h"')
cursor.fetchall()

[(7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR')]

In [40]:
# Q-3. Write a query to validate Email of Employee.

cursor.execute('select * from Worker where EMAIL_ID like "%@infinity.com"')
cursor.fetchall()

[(1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR')]