In [12]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [13]:
import mysql.connector as conn

In [14]:
mydb = conn.connect(host = 'localhost', user = 'root', password = 'chanakya')

In [15]:
mydb

In [18]:
cursor = mydb.cursor()

In [19]:
cursor.execute('show databases')

In [20]:
cursor.fetchall()

[('cardataset',),
 ('information_schema',),
 ('mysql',),
 ('mysqlassignment',),
 ('performance_schema',),
 ('sakila',),
 ('saptaksubhra',),
 ('sys',),
 ('world',)]

In [33]:
cursor.execute('use mysqlassignment')

In [34]:
cursor.execute('show tables')

In [35]:
cursor.fetchall()

[('worker',), ('worker1',), ('worker2',), ('worker3',), ('workerclone',)]

In [24]:
# Q-13. Write an SQL query to show only odd rows from aÂ table.

cursor.execute('select * from Worker where mod(WORKER_ID, 2) <> 0')
cursor.fetchall()

[(1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR')]

In [36]:
# Q-14. Write an SQL query to clone a new table from another table.

cursor.execute('create table WorkerClone like Worker')
cursor.fetchall()

ProgrammingError: 1050 (42S01): Table 'workerclone' already exists

In [41]:
cursor.execute("select * from mysqlassignment.WorkerClone")

In [42]:
cursor.fetchall()

[]