In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [30]:
import mysql.connector as conn

In [31]:
mydb = conn.connect(host = 'localhost', user = 'root', password = 'chanakya' )

In [32]:
mydb

In [33]:
cursor = mydb.cursor()

In [34]:
cursor.execute('show databases')

In [35]:
cursor.fetchall()

[('cardataset',),
 ('information_schema',),
 ('mysql',),
 ('mysqlassignment',),
 ('performance_schema',),
 ('sakila',),
 ('saptaksubhra',),
 ('sys',),
 ('world',)]

In [36]:
cursor = mydb.cursor()

In [37]:
cursor.execute("create database mysqlassignment")

DatabaseError: 1007 (HY000): Can't create database 'mysqlassignment'; database exists

In [38]:
cursor.execute('create table mysqlassignment.Worker(WORKER_ID INT(5), FIRST_NAME VARCHAR(20), LAST_NAME VARCHAR(20), SALARY INT(30), DATE_OF_JOINING DATE, EMAIL_ID VARCHAR(20), DEPARTMENT VARCHAR(20))')

ProgrammingError: 1050 (42S01): Table 'worker' already exists

In [40]:
cursor.execute('use mysqlassignment')

In [41]:
cursor.execute('show tables')

In [42]:
cursor.fetchall()

[('worker',)]

In [43]:
cursor.execute('insert into mysqlassignment.Worker values(001, "SubhashChandra", "Bose", 800000,"2012-01-01", "subhash@infinity.com", "HR")')

In [44]:
mydb.commit()

In [18]:
cursor.execute('insert into mysqlassignment.Worker values(002, "Lalbahadur", "Shastri", 700000,"2012-02-02", "shastri@infinity.com", "Admin")')

In [19]:
cursor.execute('insert into mysqlassignment.Worker values(003, "Vishal", "Singhal",300000,"2013-01-01", "vishal@infinity.com", "HR")')
cursor.execute('insert into mysqlassignment.Worker values(004, "Amitabh", "Singh",500000,"2013-01-01", "amitabh@infinity.com", "HR")')
cursor.execute('insert into mysqlassignment.Worker values(005, "Vivek", "Bharati",600000,"2013-03-02", "vivek@infinity.com", "Admin")')
cursor.execute('insert into mysqlassignment.Worker values(006, "Vipul", "Thakur",200000,"2015-01-01", "vipul@infinity.com", "Account")')
cursor.execute('insert into mysqlassignment.Worker values(007, "Satish", "Kaushik",300000,"2016-01-01", "satish@infinity.com", "HR")')
cursor.execute('insert into mysqlassignment.Worker values(008, "Sandhya", "Mukherjee",500000,"2016-01-01", "sandhya@infinity.com", "Account")')

In [45]:
mydb.commit()

In [46]:
cursor.execute("select * from mysqlassignment.Worker")

In [47]:
cursor.fetchall()

[(1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR')]

In [67]:
#Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as "WORKER_NAME".

cursor.execute("select FIRST_NAME as WORKER_NAME from Worker")

In [68]:
cursor.fetchall()

[('SubhashChandra',),
 ('Lalbahadur',),
 ('Vishal',),
 ('Amitabh',),
 ('Vivek',),
 ('Vipul',),
 ('Satish',),
 ('Sandhya',),
 ('SubhashChandra',),
 ('Lalbahadur',),
 ('Vishal',),
 ('Amitabh',),
 ('Vivek',),
 ('Vipul',),
 ('Satish',),
 ('Sandhya',),
 ('SubhashChandra',)]

In [71]:
# Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

cursor.execute('select distinct DEPARTMENT from Worker')

In [72]:
cursor.fetchall()

[('HR',), ('Admin',), ('Account',)]

In [74]:
# Q-3. Write an SQL query to show the last 5 record from a table.

cursor.execute('select * from Worker order by WORKER_ID desc limit 5')
cursor.fetchall()

[(8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account')]