In [39]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [40]:
import mysql.connector as conn

In [41]:
mydb = conn.connect(host = 'localhost', user = 'root', password = 'chanakya')

In [42]:
mydb

In [43]:
cursor = mydb.cursor()

In [44]:
cursor.execute('show databases')

In [45]:
cursor.fetchall()

[('cardataset',),
 ('information_schema',),
 ('mysql',),
 ('mysqlassignment',),
 ('performance_schema',),
 ('sakila',),
 ('saptaksubhra',),
 ('sys',),
 ('world',)]

In [46]:
cursor.execute('use mysqlassignment')

In [47]:
cursor.execute('show tables')

In [48]:
cursor.fetchall()

[('employees',), ('worker',), ('worker1',), ('worker2',), ('workerclone',)]

In [31]:
cursor.execute('select * from mysqlassignment.Worker')
cursor.fetchall()

[(1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR')]

In [12]:
# Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

cursor.execute('select * from Worker where DATE_OF_JOINING between "2014-02-01" and "2014-02-28" order by DATE_OF_JOINING')
cursor.fetchall()

[]

In [13]:
cursor.execute('select *from Worker where year(DATE_OF_JOINING) = 2014 and month(DATE_OF_JOINING) = 2')
cursor.fetchall()

[]

In [16]:
cursor.execute('create table mysqlassignment.Worker1(WORKER_ID INT(5), DESIGNATION VARCHAR(20), AFFECTED_FROM DATETIME)')

ProgrammingError: 1050 (42S01): Table 'worker1' already exists

In [17]:
cursor.execute('use mysqlassignment')

In [18]:
cursor.execute('show tables')

In [19]:
cursor.fetchall()

[('worker',), ('worker1',), ('worker2',)]

In [20]:
cursor.execute('insert into mysqlassignment.Worker1 values(16, "Manager", "2018-03-06 00:00:00")')
cursor.execute('insert into mysqlassignment.Worker1 values(36, "Executive", "2018-03-06 00:00:00")')
cursor.execute('insert into mysqlassignment.Worker1 values(43, "Lead", "2018-03-06 00:00:00")')
cursor.execute('insert into mysqlassignment.Worker1 values(786, "Assistant Manager", "2018-03-06 00:00:00")')
cursor.execute('insert into mysqlassignment.Worker1 values(108, "General Manager", "2018-03-06 00:00:00")')
cursor.execute('insert into mysqlassignment.Worker1 values(1008, "Regional Manager", "2018-03-06 00:00:00")')
cursor.execute('insert into mysqlassignment.Worker1 values(96, "Associate", "2022-01-06 00:00:00")')
cursor.execute('insert into mysqlassignment.Worker1 values(99, "Executive Leader", "2018-03-06 00:00:00")')
cursor.execute('insert into mysqlassignment.Worker1 values(1000, "Project Manager", "2020-03-06 00:00:00")')

In [21]:
mydb.commit()

In [22]:
cursor.execute('select * from mysqlassignment.Worker1')

In [23]:
cursor.fetchall()

[(16, 'Manager', datetime.datetime(2018, 3, 6, 0, 0)),
 (36, 'Executive', datetime.datetime(2018, 3, 6, 0, 0)),
 (43, 'Lead', datetime.datetime(2018, 3, 6, 0, 0)),
 (786, 'Assistant Manager', datetime.datetime(2018, 3, 6, 0, 0)),
 (108, 'General Manager', datetime.datetime(2018, 3, 6, 0, 0)),
 (1008, 'Regional Manager', datetime.datetime(2018, 3, 6, 0, 0)),
 (96, 'Associate', datetime.datetime(2022, 1, 6, 0, 0)),
 (99, 'Executive Leader', datetime.datetime(2018, 3, 6, 0, 0)),
 (1000, 'Project Manager', datetime.datetime(2020, 3, 6, 0, 0)),
 (16, 'Manager', datetime.datetime(2018, 3, 6, 0, 0)),
 (36, 'Executive', datetime.datetime(2018, 3, 6, 0, 0)),
 (43, 'Lead', datetime.datetime(2018, 3, 6, 0, 0)),
 (786, 'Assistant Manager', datetime.datetime(2018, 3, 6, 0, 0)),
 (108, 'General Manager', datetime.datetime(2018, 3, 6, 0, 0)),
 (1008, 'Regional Manager', datetime.datetime(2018, 3, 6, 0, 0)),
 (96, 'Associate', datetime.datetime(2022, 1, 6, 0, 0)),
 (99, 'Executive Leader', datetime.datetime(2018, 3, 6, 0, 0)),
 (1000, 'Project Manager', datetime.datetime(2020, 3, 6, 0, 0))]

In [24]:
# Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

cursor.execute("select DESIGNATION, AFFECTED_FROM, count(*) from Worker1 group by DESIGNATION, AFFECTED_FROM having count(*) > 1")
cursor.fetchall()

[('Manager', datetime.datetime(2018, 3, 6, 0, 0), 2),
 ('Executive', datetime.datetime(2018, 3, 6, 0, 0), 2),
 ('Lead', datetime.datetime(2018, 3, 6, 0, 0), 2),
 ('Assistant Manager', datetime.datetime(2018, 3, 6, 0, 0), 2),
 ('General Manager', datetime.datetime(2018, 3, 6, 0, 0), 2),
 ('Regional Manager', datetime.datetime(2018, 3, 6, 0, 0), 2),
 ('Associate', datetime.datetime(2022, 1, 6, 0, 0), 2),
 ('Executive Leader', datetime.datetime(2018, 3, 6, 0, 0), 2),
 ('Project Manager', datetime.datetime(2020, 3, 6, 0, 0), 2)]

In [63]:
cursor.execute('create table mysqlassignment.Worker3(ID INT PRIMARY KEY, FIRST_NAME VARCHAR(50), LAST_NAME VARCHAR(50), COUNTRY VARCHAR(50))')

In [64]:
cursor.execute('use mysqlassignment')

In [65]:
cursor.execute('show tables')

In [66]:
cursor.fetchall()

[('worker',), ('worker1',), ('worker2',), ('worker3',)]

In [14]:
cursor.execute('drop table if exists Worker3')

In [15]:
cursor.execute('use mysqlassignment')

In [16]:
cursor.execute('show tables')

In [17]:
cursor.fetchall()

[('worker',), ('worker1',), ('worker2',), ('workerclone',)]

In [18]:
cursor.execute('create table Employees(EMPLOYEE_ID INT(5), FIRST_NAME VARCHAR(20), LAST_NAME VARCHAR(20), EMAIL VARCHAR(20))')

In [21]:
cursor.execute('use mysqlassignment')

In [22]:
cursor.execute('show tables')

In [23]:
cursor.fetchall()

[('employees',), ('worker',), ('worker1',), ('worker2',), ('workerclone',)]

In [24]:
cursor.execute('insert into mysqlassignment.Employees values(101, "Kevin", "Peterson", "kevin@gmail.com")')
cursor.execute('insert into mysqlassignment.Employees values(101, "Kevin", "Peterson", "kevin@gmail.com")')
cursor.execute('insert into mysqlassignment.Employees values(101, "Kevin", "Peterson", "kevin@gmail.com")')
cursor.execute('insert into mysqlassignment.Employees values(102, "Hashim", "Amla", "hashim@gmail.com")')
cursor.execute('insert into mysqlassignment.Employees values(103, "Adam", "Gilly", "Adam@gmail.com")')
cursor.execute('insert into mysqlassignment.Employees values(101, "Kevin", "Peterson", "kevin@gmail.com")')
cursor.execute('insert into mysqlassignment.Employees values(102, "Hashim", "Amla", "hashim@gmail.com")')
cursor.execute('insert into mysqlassignment.Employees values(103, "Adam", "Gilly", "Adam@gmail.com")')
cursor.execute('insert into mysqlassignment.Employees values(104, "Sourav", "Ganguly", "sourav@gmail.com")')
cursor.execute('insert into mysqlassignment.Employees values(105, "Sachin", "Tendulkar", "sachin@gmail.com")')
cursor.execute('insert into mysqlassignment.Employees values(103, "Adam", "Gilly", "Adam@gmail.com")')
cursor.execute('insert into mysqlassignment.Employees values(102, "Hashim", "Amla", "hashim@gmail.com")')

In [16]:
mydb.commit()

In [17]:
cursor.execute('select * from mysqlassignment.Employees')

In [18]:
cursor.fetchall()

[(101, 'Kevin', 'Peterson', 'kevin@gmail.com'),
 (101, 'Kevin', 'Peterson', 'kevin@gmail.com'),
 (101, 'Kevin', 'Peterson', 'kevin@gmail.com'),
 (102, 'Hashim', 'Amla', 'hashim@gmail.com'),
 (103, 'Adam', 'Gilly', 'Adam@gmail.com'),
 (101, 'Kevin', 'Peterson', 'kevin@gmail.com'),
 (102, 'Hashim', 'Amla', 'hashim@gmail.com'),
 (103, 'Adam', 'Gilly', 'Adam@gmail.com'),
 (104, 'Sourav', 'Ganguly', 'sourav@gmail.com'),
 (105, 'Sachin', 'Tendulkar', 'sachin@gmail.com'),
 (103, 'Adam', 'Gilly', 'Adam@gmail.com'),
 (102, 'Hashim', 'Amla', 'hashim@gmail.com')]

In [50]:
#Q-3. How to remove duplicate rows from Employees table.
cursor.execute('select EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL from Employees')

In [51]:
cursor.execute('with cte as (select EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL, ROW_NUMBER() over(partition by FIRST_NAME, LAST_NAME, EMAIL order by FIRST_NAME, LAST_NAME, EMAIL) row_num from Employees ) ')
cursor.execute('delete from cte where row_num > 1')

InternalError: Unread result found