In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [2]:
import mysql.connector as conn

In [3]:
mydb = conn.connect (host = 'localhost', user = 'root', password = 'chanakya')

In [4]:
mydb

In [5]:
cursor = mydb.cursor()

In [6]:
cursor.execute('show databases')

In [7]:
cursor.fetchall()

[('cardataset',),
 ('information_schema',),
 ('mysql',),
 ('mysqlassignment',),
 ('performance_schema',),
 ('sakila',),
 ('saptaksubhra',),
 ('sys',),
 ('world',)]

In [8]:
cursor.execute('use mysqlassignment')

In [9]:
cursor.execute("show tables")

In [11]:
cursor.fetchall()

[('employees',), ('worker',), ('worker1',), ('worker2',), ('workerclone',)]

In [12]:
cursor.execute('select * from Worker')

In [13]:
cursor.fetchall()

[(1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR')]

In [27]:
# Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.
cursor.execute('SELECT FIRST_NAME, LAST_NAME, DEPARTMENT,SALARY FROM (SELECT FIRST_NAME, LAST_NAME, DEPARTMENT,SALARY, ROW_NUMBER() over( order by SALARY desc) as highest_salary FROM Worker) Worker WHERE highest_salary <= 5')

In [28]:
cursor.fetchall()

[('SubhashChandra', 'Bose', 'HR', 800000),
 ('SubhashChandra', 'Bose', 'HR', 800000),
 ('SubhashChandra', 'Bose', 'HR', 800000),
 ('Lalbahadur', 'Shastri', 'Admin', 700000),
 ('Lalbahadur', 'Shastri', 'Admin', 700000)]

In [31]:
# Q-20. Write an SQL query to fetch the list of employees with the same salary.
cursor.execute('select * from Worker where SALARY in (select SALARY from Worker group by SALARY having count(1) > 1) order by SALARY')

In [32]:
cursor.fetchall()

[(6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR')]