In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [2]:
import mysql.connector as conn

In [3]:
mydb = conn.connect(host= 'localhost', user = 'root', password = 'chanakya')

In [4]:
mydb

In [5]:
cursor = mydb.cursor()

In [6]:
cursor.execute('show databases')

In [7]:
cursor.fetchall()

[('cardataset',),
 ('information_schema',),
 ('mysql',),
 ('mysqlassignment',),
 ('performance_schema',),
 ('sakila',),
 ('saptaksubhra',),
 ('sys',),
 ('world',)]

In [8]:
cursor.execute('use mysqlassignment')

In [9]:
cursor.execute('show tables')

In [10]:
cursor.fetchall()

[('employees',), ('worker',), ('worker1',), ('worker2',), ('workerclone',)]

In [11]:
cursor.execute('select * from mysqlassignment.Worker')

In [12]:
cursor.fetchall()

[(1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (3,
  'Vishal',
  'Singhal',
  300000,
  datetime.date(2013, 1, 1),
  'vishal@infinity.com',
  'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (6,
  'Vipul',
  'Thakur',
  200000,
  datetime.date(2015, 1, 1),
  'vipul@infinity.com',
  'Account'),
 (7,
  'Satish',
  'Kaushik',
  300000,
  datetime.date(2016, 1, 1),
  'satish@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR')]

In [13]:
# Q-17. Write an SQL query to show the top n (say 10) records of a table.

cursor.execute('select * from Worker order by SALARY DESC limit 10')

In [14]:
cursor.fetchall()

[(1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (1,
  'SubhashChandra',
  'Bose',
  800000,
  datetime.date(2012, 1, 1),
  'subhash@infinity.com',
  'HR'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (2,
  'Lalbahadur',
  'Shastri',
  700000,
  datetime.date(2012, 2, 2),
  'shastri@infinity.com',
  'Admin'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (5,
  'Vivek',
  'Bharati',
  600000,
  datetime.date(2013, 3, 2),
  'vivek@infinity.com',
  'Admin'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR'),
 (8,
  'Sandhya',
  'Mukherjee',
  500000,
  datetime.date(2016, 1, 1),
  'sandhya@infinity.com',
  'Account'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.date(2013, 1, 1),
  'amitabh@infinity.com',
  'HR')]

In [24]:
# Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.
cursor.execute('select SALARY from Worker order by SALARY desc limit 4,1')

In [25]:
cursor.fetchall()

[(700000,)]